body { padding: 50px; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 14px; line-height: 1.5; font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgb(114, 114, 114); font-weight: 400; background-color: rgb(255, 255, 255); }
.wrapper { width: 100%; margin: 0px auto; }
div.wrapper { width: auto; margin: 0px; }
header { width: 24%; float: left; position: fixed; -webkit-font-smoothing: subpixel-antialiased; padding-right: 320px; }
header, section, footer { float: none; position: static; width: auto; }
h1, h2, h3, h4, h5, h6 { color: rgb(34, 34, 34); margin: 0px 0px 20px; }
h1, h2, h3 { line-height: 1.1; }
h1 { font-size: 28px; }
p, ul, ol, table, pre, dl { margin: 0px 0px 20px; }
a { color: rgb(51, 153, 204); text-decoration: none; }
section { width: 75%; float: right; padding-bottom: 50px; border-style: solid; border-color: rgb(229, 229, 229); border-width: 1px 0px; padding: 20px 0px; margin: 0px 0px 20px; }
.post-list { list-style-type: none; }
.post-date { float: right; }
footer { width: 270px; float: left; position: fixed; bottom: 50px; -webkit-font-smoothing: subpixel-antialiased; }
small { font-size: 11px; }
